.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.bg-black {
    background-color: black;
}

.bg-grey {
    background-color: #1f1f1f;
}

.invert {
    filter: invert(1);
}

.rounded {
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;              /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #111;         /* track (background) */
}

::-webkit-scrollbar-thumb {
  background: #444;         /* scrollbar handle */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;         /* hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;        /* makes scrollbar thinner */
  scrollbar-color: #444 #111;   /* thumb color | track color */
}

